.App{
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.AppHeader{
  margin-left: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.AppFooter{
height: 50px;
display: flex;
justify-content: space-evenly;
align-items: center;
border-top: 1px solid rgba(0, 0, 0, 0.15);

}
.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.05) ;
}
.SideMenu{
  height: 100%;
}
.SideMenuVertical{
  height: 100%;
}
.PageContent{
 
  padding-left: 12px;
}
.ant-space-item{
  padding: 5px 5px 10px 10px;
}
Table{
  width: 350px;
  margin-left: 5px;

}
.form-create{
  background-color: white;
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 220px;
  width: 500px;
}